

body {

    z-index: 2;
    width: 1903px;
    position: relative;
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom: 20px;
}


div.page-wrapper {
    font-family: tablet-gothic, verdana, arial, sans-serif;
    background: #77c4d3;
    padding-top: 100px;
    padding-left: 80px;
    height: 3350px;
    margin-bottom: 50px;
}
h1
{
 position: relative;
}

h2
{
 postion: relative;
    font-weight: bold;
}

abbr
{
    border-bottom: dotted 1px;
}
#bigcss
{
    border-bottom: dotted 15px
}

h1, h2
{
    color: #fff
}

div.summary
{

}

h2, h3 {
    letter-spacing: 1px;
    line-height: 1em
}

a, body, input, textarea {
    color: #333
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

article, div, figure, footer, header, li, nav, section {
    position: relative
}

.group:after {
    display: block;
    height: 0;
    font-size: 0;
    content: ".";
    clear: both;
    visibility: hidden
}

::-moz-selection {
    background: #333;
    color: #fff
}

::selection {
    background: #333;
    color: #fff
}


h2, h3 {
    font-family: tablet-gothic-condensed, "arial narrow", arial, verdana, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}

h1 {
    background: #ea2e49;
    display: inline-block;
    padding: .5em 1em
}

h2 {
    font-weight: 900;
    font-size: 6em
}

h3 {
    font-size: 2.25em;
    font-weight: 200;
    padding: .5em 0 .25em
}

a {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    text-decoration: none;
    -moz-transition: border-color .2s ease-in-out;
    -ms-transition: border-color .2s ease-in-out;
    -o-transition: border-color .2s ease-in-out;
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out
}

a:hover {
    border-color: #ea2e49
}

div.explanation p a, div.participation p a, section.intro div.summary p a {
    color: #fff
}

div.participation p a:hover {
    border-color: #fff
}

li, p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    padding: .5em 0
}

div.requirements p:last-child, h1, section.intro div.summary p {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase
}

div.requirements p:last-child, section.intro div.summary p:last-child {
    border-top: 1px solid #ea2e49;
    margin-top: 1em;
    padding-top: 1.5em
}

html, section.intro {
}

em, strong {
    font-style: normal;
    font-weight: 400
}

html {
    background: #daede2
}



section.intro div.summary {
    color: #fff;
    padding: 08% 0;
    width: 52%;
}

section.intro div.preamble {
    background: rgba(255, 255, 255, .9);
    color: #333;
    width: 60%;
    left: -150px;
    padding-left: 150px;
    font-weight: bold;
}

aside.sidebar, footer {
    background: rgba(246, 247, 146, .9)
}

aside.sidebar, div.main {
}

aside.sidebar ul {
    padding: .5em 0 2em
}

aside.sidebar ul li {
    color: rgba(0, 0, 0, .4);
    list-style: none;
    margin: 0;
    padding: 0 0 .825em
}

footer {
    clear: both;
    color: #fff;
    padding: 1em 5%;
    width: 50%;
    top: 120px;
}

footer a {
    clear: both;
    color: black;
    padding: 1em 5%;
    width: 50%;
    top: 120px;
}

div.explanation {
    color: #fff;
    width: 50%;
    top: 120px;
    float: left;
}

div.participation {
    background: rgba(234, 46, 73, .9);
    color: #fff;
    color: #fff;
    width: 50%;
    top: 120px;
    float: right;
}

div.explanation, div.participation{
    padding: 50px 30px 50px 80px;
}

div.benefits, div.requirements {
    background: rgba(255, 255, 255, .9);
    top: 120px;
    padding: 50px 30px 50px 80px;
    width: 30%;
}

div.benefits {
    float: left;
    top: 300px;
}
div.requirements
{
    float: right;
    width: 70%;

}

h2 {
    font-size: 8em
}

section.intro {
}

aside.sidebar {
    position: absolute;
    right: 0;
    top: 2.5%;
    padding-top: 100px;
    padding-left: 100px;
    z-index: 1

}

div.extra1 {
    background: rgba(51, 55, 69, .9);
    right: -90px;
    top: -40px;
    z-index: 1;
    height: 950px;
    width: 500px;
    position: absolute;
}


body {
    font-size: 125%
}
